body
{
 background-color: black;
}
 /********************* Header Styling*********************/
header
{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
nav                  
{
background: #6e6e6e;
height: 100px;
width: 100%;
}
label.logo{
color: white;
font-size: 2.5vw;
line-height: 100px;
padding: 0 3.2%;
font-weight: bold;
font-family: sans-serif;
text-decoration: none;

}
nav ul
{
float: right;
margin-right: 20px;
}
nav ul li
{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 2vw;
  padding: 8px 14px;
  border-radius: 100px;
  border:1px solid white;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
 nav ul li a.active,nav ul li a:hover{
  background: #424242;
  transition: .9s;
}
#LinkStyle
{
text-decoration: none;
color: white;
}
/********************* Main Content *********************/
#FindUsInfo
{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../FindUsImages/FindUsMain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 1%;
  width: 100%;
  max-width: 99%;
  height: auto;
  overflow: hidden;
}
#FindUsHeading
{
color: white;
font-family: sans-serif;
font-size: 2em;
font-weight:800;
padding-left: 3%;
}
#AboutCatsBox
{
    float: left;
    width: 100%;
    max-width:99%;
    height:auto;
    overflow: hidden;
    margin: auto;
    font-family: sans-serif;
    padding:30px;
    line-height: 1.0;
    font-size: 2.5em;
    font-weight: 600;
    color: white;
}
/************** Contact Animated Boxes **************/
.ContactUsSection
{
 background-color: grey;
  margin-top: 1px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  width: 100%;
  max-width: 98%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.ContactUsSection> h2
{
color: white;
font-family: sans-serif;
}
.InfoBox  /**** Box Containing Info ****/
{
  border-radius: 30px;
  padding: 5.2%;
  width: 20%;
  display: inline-block;
  background:#292929;
  margin: .7%;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.InfoBox i  /**** The Underneath of the icons  ****/
  {
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  line-height: 500%;
  background: #4d4d4d;
  z-index: 1;
  transition: transform 0.6s;
}
.InfoBox span{ /**** Box Text Area ****/
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 2%; 0;
  font-family: sans-serif;
    font-size: 1vw;
}

.InfoBox:hover i{ /**** Moves On the Y Axis up 40px ****/
  transform: translateY(-40px); 
}
/**** Safari Video And Map Section****/
#FindUsSafari
{
  background-color:white;
  margin-top: 1px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  border-bottom: 1px white solid;
  width: 100%;
  max-width: 98%;
  height: auto;
  overflow: hidden;
}
#FindUsSafari >h2
{
color: darkgrey;
font-family: sans-serif;
text-align: center; 
}
.ParagraphStyleOne
{
    color: #474747;
}
#SafariLife
{
    width: 100%;
    max-width:40%;
    height:auto;
    background: rgba(166,166,166,.5);
    float: left;
    overflow: hidden;
    text-align: center;
    border: 0px solid grey;
    border-radius: 30px;
    margin: auto;
    font-family: sans-serif;
    padding: 30px;
    line-height: 2.1;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#SafariLife >h2
{
color: white;
font-family: sans-serif;
}
#SafariVideo
{
width: 100%;
height:300px;
padding:0;
}
#FindUsMaps
{
align-content: center;
width: 100%;
max-width:40%;
height:auto;
background: rgba(166,166,166,.5);
float: right;
overflow: hidden;
border: 0px solid grey;
border-radius: 30px;
margin: auto;
font-family: sans-serif;
padding: 30px;
line-height: 1.9;
font-size: 1.1em;
box-shadow: 0 5px 15px rgba(0,0,0,.5);   
}
#FindUsMaps >h2
{
  color: white;
}
/**** Slideshow Container And Further Info****/
#CheetahGallery
{
  background-color: lightgrey;
  margin-top: 1px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  width: 100%;
  max-width: 98%;
  height: auto;
  overflow: hidden;
}
#CheetahGallery >h2
{
color: white;
font-family: sans-serif;
text-align: center;
}
.slidershow{
border-radius: 30px;
width: 50%;
padding-top: %;
overflow: hidden;
box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.middle{
position: relative;
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /**** Possitioned in from the left 50% ****/
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}
/**** Animating the slides to move in from the left ****/
#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
#ExploreSafari
{
width: 100%;
max-width:35%;
height:auto;
background: rgba(166,166,166,.5);
float: right;
clear:both;
overflow: hidden;
text-align:left;
border: 0px solid grey;
border-radius: 30px;
font-family: sans-serif;
padding: 20px;
line-height: 1.58;
font-size: 1.2vw;
box-shadow: 0 5px 15px rgba(0,0,0,.5);        
}
/*****************Form Styling ****************/
#ContactTheSafari
{
background-color:white;
margin-top: 1px;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 5%;
border-bottom: 1px white solid;
width: 100%;
max-width: 98%;
height: auto;
overflow: hidden;
}

#ContactTheSafari >h2
{
text-align: center;
font-family: sans-serif;
color: darkgrey;
}
#FindUsForm
{
width: 100%;
max-width:40%;
height:auto;
background: rgba(166,166,166,.5);
float: left;
text-align: center;
border: 0px solid grey;
border-radius: 30px;
 margin: auto;
font-family: sans-serif;
padding: 30px;
line-height: 2.1;
box-shadow: 0 5px 15px rgba(0,0,0,.5);   
}
#WrapperOne
{
float: left;

}
#WrapperTwo
{
float: right
}
#first-name
{
padding:5%;
width: 100%;
height: auto;
max-width: 100%;
border: 3px lightgrey solid;
border-radius: 100px;
clear: both;
font-size: 1vw;
margin-bottom: 1%;
}
#last-name
{
padding:5%;
width: 100%;
height: auto;
max-width: 100%;
border: 3px lightgrey solid;
border-radius: 100px;
clear: both;
font-size: 1vw;
margin-bottom: 1%;
}
#email
{
padding:5%;
padding-left: 1%;
width: 100%;
height: auto;
max-width: 100%;
border: 3px lightgrey solid;
border-radius: 100px;
clear: both;
font-size: 1vw;
margin-bottom: 1%;
}
#phone
{
padding:5%;
width: 100%;
padding-left: 2%;
height: auto;
max-width: 100%;
border: 3px lightgrey solid;
border-radius: 100px;
clear: both;
font-size: 1vw;
margin-bottom: 1%;
}
#message
{
align-content: center;
padding: 2%;
width: 100%;
max-width: 95%;
border: 3px lightgrey solid;
border-radius: 10px;
clear: both;
font-size: 1.2vw;
margin-top: 1%;
margin-bottom: 1%;  
font-family: sans-serif;
}
#submitbutton
{
align-content: center;
padding: 2%;
width: 100%;
max-width: 95%;
border: 3px lightgrey solid;
border-radius: 10px;
clear: both;
font-size: 1.2vw;
margin-top: 1%;
margin-bottom: 1%;  
font-family: sans-serif;
}
#submitbutton:hover
{
background:#5e5e5e;
transition: 0.7s;
cursor: pointer;
}
#Assistance
{
width: 100%;
max-width:40%;
height:auto;
background: rgba(166,166,166,.5);
float: right;
overflow: hidden;
border: 0px solid grey;
border-radius: 30px;
margin: auto;
font-family: sans-serif;
padding: 30px;
line-height: 1.9;
box-shadow: 0 5px 15px rgba(0,0,0,.5);  
}
#Assistance >h2
{
text-align: center;
font-size: 1.3vw
}
#AssistanceInfo
{
column-count: 2;
column-rule: 1px solid white;
column-gap: 50px;
font-size: 1.2vw;
}
/**************** Footer Styling ****************/
footer
{
margin-top:0px;
background: #6e6e6e;
background-repeat: no-repeat;
background-size: cover;
background-position:top;
background-attachment: fixed;
border-top: 1px black solid;
padding-top: 1px;
padding-bottom: 5px;
font-family: sans-serif;
width: 100%;
}
footer ul
{
padding 0;
font-weight: 100;
text-align: center;
padding-top: 1px;
}
footer li 
{
display: inline-block;
padding: 1%;
font-size: 2vw;
margin-left: 1%;
margin-right: 1%;
}
footer ul li a
{
  color: white;
  border-radius: 210px;
  border:1px solid white;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
footer ul li a.active,footer ul li a:hover
{
  background: #424242;
  transition: .9s;
}
.FooterLinkStyle
{
color: white;
text-decoration: none;
padding: 10px;
}
#FooterCR
{
text-align: center;
padding-bottom: 15px;
padding-top: 30px;
font-size: 25px;
color: white;
}
