body
{
 background-color: black;
}
 /********************* Header Styling*********************/
header
{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
nav                  
{
background: #6e6e6e;
height: 100px;
width: 100%;
}
label.logo{
color: white;
font-size: 2.5vw;
line-height: 100px;
padding: 0 3.2%;
font-weight: bold;
font-family: sans-serif;
text-decoration: none;

}
nav ul
{
float: right;
margin-right: 20px;
}
nav ul li
{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 2vw;
  padding: 8px 14px;
  border-radius: 100px;
  border:1px solid white;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
 nav ul li a.active,nav ul li a:hover{
  background: #424242;
  transition: .9s;
}
#LinkStyle
{
text-decoration: none;
color: white;
}
/********************* Main Content *********************/
main
{
    align-content: center;
}
#CatInfo
{
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/Sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 1px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  max-width: 100%;
  height: auto;
  height: auto;
  overflow: hidden;
}
#CatInfoHeading
{

color: white;
font-family: sans-serif;
text-align: center;
}
#AboutCatsBox
{
    color: white;
    width: 100%;
    max-width:60%;
    height:auto;
    align-content: center;
    text-align: center;
    border: 0px solid grey;
    margin: auto;
    font-family: sans-serif;
    padding: 30px;
    line-height: 1.5;
    font-size: 1.5vw;
}
/********************* The Cats *********************/
#CatImgStyle
{
  background-image: url(../Images/LittleKitty.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  margin-top: 1px;
}
/********************* Heading Hovering Over Image*********************/
#CatImgStyle> h2
{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5em;
    color: white;
    padding-top: 12%;
    padding-bottom: 12%;
}
.ParagraphStyle
{
    color: white;;
    font-family: sans-serif;
    padding: 20px;
    font-size: 130%;
}
/********************* Wild Cat Selection Styling *********************/
#PhotoContainer
{
    padding-left: 30px;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:#b0b0b0;
}
#PhotoContainer >h2
{
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    color: white;
    font-size: 2vw;
}
/********************* Buttons *********************/
.CatButtons
{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 50px;
    padding: 10px;
    clear: both;
    transition: .6s;
    overflow: hidden;
    color: white;
    width: 100%;
    max-width: 25%;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 18px;
    background-color:#ccc6c6;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.CatButtons:focus
{
    outline: none;
}
.CatButtons:hover
{
background: #2b2b2b;
cursor: pointer;
}
.CatButtons:hover::before
{
    opacity: .6;
    transition: .7s;
    transform: translate(300px) skewX(-15deg);
}
.CatButtons:hover::after
{
    opacity: 1;
    transform: translate(300px) scaleX(-15deg);
    transition: .7s;
}

/********************* Cat Safari With Floating TextBox *********************/
#CatSafari
{
  max-width:100%;
  height: auto;
  margin-top:1px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Lioness.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}
#AboutCats
{
margin-top: 1.4%;
color: white;
text-decoration: underline;
text-align: center;
font-family: sans-serif;
}
.ParagraphStyle
{
 text-align: justify;
 margin-left: 40%;
 font-size: 1.2vw;
}
#FloatKittyInfo
{
    color: white;
    max-width:35%;
    height: auto;
    float: left;
    clear: both;
    position: inherit;
    border: 0px solid grey;
    margin-top: 50px;
    margin-left: 30px;
}
#FloatKittyInfo>h2
{
    min-width: 100%;
    height: auto;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

#KittyFloatInfo
{
font-family: sans-serif;
color: white;;
font-size: 1.3vw;
margin-left: 1%;
padding: 1%;
min-width: 100%;
line-height: 1.4;
}
#ParagraphStyleTwo
{
font-family: sans-serif; 
font-size: 1.5vw;
color: white;
}
#LearnMore
{
border: 1px solid white;
border-radius: 13px;
background-color: grey;
color: white;
font-size: 1.5vw;
line-height: 100px;
padding: 2%;
font-weight: bold;
font-family: sans-serif;
text-decoration: none;   
}
#LearnMore:hover
{
cursor: pointer;
transition: 0.7s;
background: black;
}
/********************* Footer Styling *********************/
footer
{
border-top: 2px solid white;
margin-top:0px;
background: #6e6e6e;
background-repeat: no-repeat;
background-size: cover;
background-position:top;
background-attachment: fixed;
border-top: 1px white solid;
padding-top: 1px;
padding-bottom: 5px;
font-family: sans-serif;
width: 100%;
}
footer ul
{
padding 0;
font-weight: 100;
text-align: center;
padding-top: 1px;
}
footer li 
{
display: inline-block;
padding: 1%;
font-size: 2vw;
margin-left: 1%;
margin-right: 1%;
}
footer ul li a
{
  color: white;
  border-radius: 210px;
  border:1px solid white;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
footer ul li a.active,footer ul li a:hover
{
  background: #424242;
  transition: .9s;
}
.FooterLinkStyle
{
color: white;
text-decoration: none;
padding: 10px;
}
#FooterCR
{
text-align: center;
padding-bottom: 15px;
padding-top: 30px;
font-size: 25px;
color: white;
}
